<div class="secciones">V O L V E R &nbsp A &nbsp E N V I A R &nbsp L A S &nbsp I N S T R U C C I O N E S  &nbsp D E  &nbsp C O N F I R M A C I O N</div>
<br />
<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label "Email" %>
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.submit "Volver a enviar las instrucciones de confirmacion" %></div>
<% end %>

<%= render "devise/shared/links" %>
