<div class="large-6 columns">
<h1>Administrador</h1>
<p></p>
<div class="my-div-bottom-green"><%= link_to 'Crear album', new_album_path, :class => "fuente-tres" %><p></p>
<div class="my-div-bottom-green"><%= link_to 'Agregar una nueva foto', new_photo_path, :class => "fuente-tres" %></div><p></p>
<div class="my-div-bottom-green"><%= link_to 'Crear una nueva noticia', new_post_path, :class => "fuente-tres" %></div><p></p>
<div class="my-div-bottom-green"><%= link_to 'Crear un nuevo perfil', new_skater_path, :class => "fuente-tres" %></div><p></p>
<div class="my-div-bottom-green"><%= link_to 'Crear nueva categoria de producto', new_tipo_producto_path, :class => "fuente-tres" %></div><p></p>
<div class="my-div-bottom-green"><%= link_to 'Agregar un nuevo producto', new_producto_path, :class => "fuente-tres" %></div><p></p>
<div class="my-div-bottom-green"><%= link_to 'Enviar mail a los usuarios', {:controller=>'/admin', :action=>'newsletterform'}, :class => "fuente-tres" %></div><p></p>
<%= link_to 'Revisar pedidos', pedidos_path, :class => "fuente-tres" %></div><p></p>
</div>
<div class="large-6 columns">
	<!--<img src="/images/rana.gif" style="width:100%;"  />-->
</div>


