<h1>Listing comment_posts</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Post</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @comment_posts.each do |comment_post| %>
      <tr>
        <td><%= comment_post.content %></td>
        <td><%= comment_post.post %></td>
        <td><%= comment_post.user %></td>
        <td><%= link_to 'Show', comment_post %></td>
        <td><%= link_to 'Edit', edit_comment_post_path(comment_post) %></td>
        <td><%= link_to 'Destroy', comment_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment post', new_comment_post_path %>
