<p id="notice"><%= notice %></p>



<div class="row">
		<div class="large-12 columns">
	<p>
  
  <%if current_user.try(:admin?) %>
| <%= link_to ' Editar', edit_skater_path(@skater) %> |
<% end %>
</p>
</div>
<div class="large-7 columns">
<p>
 <div><%= image_tag @skater.skater_photo.url%></div>
</p>
</div>

<div class="large-5 columns">
<p>
   <h4>
  <div class="my-div-bottom"><%= @skater.skater_name %> </div>
  </h4>
</div>
</p>
<p></p>
  <%= simple_format(@skater.skater_body, :style => "color:#A4A4A4;font-family: 'Carrois Gothic SC', sans-serif;") %>
</p>

<%= link_to '→ Volver', videos_path %>
</div>