


<div class="secciones">R E G I S T R O</div>
<br>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label "Usuario" %>
  <%= f.text_field :username, :autofocus => true %></div>

  <div><%= f.label "Email" %>
  <%= f.email_field :email %></div>

  <div><%= f.label "Contraseña" %>
  <%= f.password_field :password %></div>
    
  <div><%= f.label "Admin" %>
  <%= f.number_field :admin %></div>

  <div><%= f.label "Confirmar contraseña" %>
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "enviar" %></div>
<% end %>

<%= render "devise/shared/links" %>
