<h4><div class="titulo"><%= @producto.nombre_producto.upcase %></div></h4>


 <% if current_user.try(:admin?) %>
 | <%= link_to ' Editar', edit_producto_path(@producto) %> |
<% end %>




<p style="color:#A4A4A4;font-family: 'Carrois Gothic SC', sans-serif;">
Talles: <%= @producto.descripcion_producto %> | Precio: $<%= @producto.precio %>
</p>

<p>
<%= image_tag @producto.foto_producto.url, :class => "th" %>
</p>
  <%= link_to '→ Volver', :controller => "/tipo_productos", :action => "show", :id => @producto.tipo_producto.id %> 


