

<% if current_user.try(:admin?)%>
<%= link_to 'Editar', edit_post_path(@post) %> |
<%= link_to 'Volver', posts_path %>
<% end %>

<p>
  <h1><%= @post.post_title %></h1>
</p>
<% if @post.post_autor != "" %>
<p>
<h6>Por : <%= @post.post_autor %></h6>
</p>
<% end %>
<p>
 <%= image_tag @post.post_photo.url, :class => "th"%>
</p>

<p >
  <%= simple_format(@post.post_body, :style => "color:#A4A4A4;font-family: 'Carrois Gothic SC', sans-serif;") %>
</p>
<hr>
<% if @allposts == 1 %>
<p>Comentarios:</p>
<% else %>
<p>Ultimos Comentarios:</p>
<% end %>
<% @comments.each do |comment| %>
  <% if comment.post_id == @post.id %>
      <div class="fuente-tres"><strong><%= comment.user.username%> |</strong>
      <% if current_user.try(:admin?) || current_user == comment.user %>
      <%= link_to 'eliminar', comment, method: :delete, data: { confirm: 'Esta seguro que desea eliminar el comentario?' } %>
        <% end %>  </div>

        <div class="fuente-tres"><%= simple_format(comment.content)%></div>
        
  <% end %> 
<% end %>
<% if @allposts == 1 %>
<div><%= link_to "MOSTRAR TODOS LOS COMENTARIOS", :controller => "/post", :action => "show",:class => "link-azul" %></div>
<% end %>
<hr>
<% if user_signed_in? %>
<%= form_for @comment_post do |f| %>
  <div class="field">
    <%= f.label "DEJA TU COMENTARIO" ,:class => "fuente-tres" %>
    <%= f.text_area :content ,:class => "back-text-area-field" %>
    <%= f.hidden_field :post_id, :value => @post.id %>
    <%= f.hidden_field :user_id, :value => current_user.try(:id) %>
  </div>

  <div class="actions">
    <%= f.submit " Comentar " %>
  </div>

  <% end %>
  <% else %>
  <p></p>
  Para comentar debe ser un usuario registrado.
  <% end %>
<hr>



