<h1>Contacto</h1>
<p>Envienos su mensaje, trataremos de responderlo en la brevedad.</p>

<%= form_tag :controller => '/admin', :action => 'contact_email' do %>

  <%= label_tag 'Asunto' %>
  <%= text_field_tag 'asunto' %>

  <%= label_tag 'Mensaje' %>
  <%= text_area_tag 'mensaje' %>
  <p></p>

  <%= hidden_field :user, :value => current_user.try(:username) %>
  <%= submit_tag "Enviar" %>

<% end %>