<%= form_for(@comment_photo) do |f| %>
  <% if @comment_photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment_photo.errors.count, "error") %> prohibited this comment_photo from being saved:</h2>

      <ul>
      <% @comment_photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.label :photo %><br>
    <%= f.text_field :photo %>
  </div>
  <div class="field">
    <%= f.label :user %><br>
    <%= f.text_field :user %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
